@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
    --text-13px: 0.8125rem;

    --font-sans: "Manrope", sans-serif;

    --color-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
}